/* Main */

.main_1 {
    display: flex;
    justify-content: center;
}

.content_1 {
    margin-top: 18px;
}

.content_1 h1 {
    margin-left: 64px;
    font-size: 2.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_2 {
    margin-top: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
}

.nav_2 li {
    list-style: none;
    margin-left: 33px;
    transition-property: color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
}

.nav_2 li:hover{
    cursor: pointer;
    color: gray;
}

.nav_2 li:first-child {
    text-decoration: underline;
}


/* Boxes  */
.main_2 {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
}

.One {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 53px;
    margin-left: 20px;
    border-radius: 64px;
    padding: 60px;
    padding-left: 15vw;
    width: 29%;
    /* height: 19px; */
    background-color: #f1f0f0;
}

.box_1 {
    /* background-image: url(Big_box_image.png); */
    /* padding: 22px; */
    width: 410px;
    height: 494px;
    /* background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 13px;
    font-family: arial;
    border: none;
    border-radius: 28px;
    margin-top: 17px;
    margin-left: 5rem;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

.btn:hover {
    background-color: rgb(96, 94, 94);
    cursor: pointer;
}



.box_1 img {
    width: 370px;
    margin-top: 25px;
    margin-left: -69px;
    transition-timing-function: cubic-bezier(0.23, 0.47, 0.1, 0.78);
    transition-duration: 3s;
    transition-property: width;
}

.box_1 img:hover {
    cursor: pointer;
    width: 390px;
}

.box_1 p {
    font-family: arial;
    font-weight: 400;
    font-size: 1.8rem;
    padding-top: 40px;
    margin-left: 28px;
}

/* grid*/
.grid {
    margin-top: 40px;
    margin-left: 26px
}

.bg {
    background-color: #f1f0f0;
}

.Two {
    border-radius: 38px;
    padding-left: 204px;
    padding-top: 29px;
    height: 50%;
    margin: 16px;
    width: 65%;
}

.flex {
    display: flex;
}


/* .box 2 */

.box_2 {
    margin-left: -20px;
}
    
.box_2 img {
    width: 13rem;
}

.box_2 p {
    margin-left: -47px;
    padding-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

/* box 3 */

.Three {
    padding: 5px;
    margin-top: 2px;
    border-radius: 32px;
    width: 304px;
}

.box_3 {
    margin-top: 22px;
    margin-left: 38px;
}

.box_3 img {
    padding-left: 32px;
}


/* Four */

.Four {
    margin-top: -2px;
    border-radius: 32px;
    width: 270px;
    height: 260px;
    margin-left: 57px;
}

.box_4 {
    padding-top: 28px;
    padding-left: 15px;
}

.box_4 img {
    padding-left: 22px;
}
